* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Courier Prime', monospace;
  background-image: url('../assets/imagens/imagem-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #00ff55;
  overflow-x: hidden;
}

.container-desafio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 40px; /* espaço entre personagens e o campo */
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 80px;
  height: auto;
  z-index: 1;
}

.linha-personagens {
  display: flex;
  align-items: center;
  gap: 30px;
}

.igual {
  font-size: 50px;
  color: #00ff88;
  font-family: 'Neuropolitical', sans-serif;
  padding: 0 10px;
}

.card {
  position: relative;
  z-index: 1;
  width: 164px;
  height: 164px;
  border: 1px solid #00ff00;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  position: relative;
}

.badge {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00ff00;
  width: 55px;
  height: 25px;
  border-radius: 6px;
  font-family: 'Neuropolitical', sans-serif;
  font-size: 14px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.igual {
  font-family: 'Neuropolitical', sans-serif;
  font-size: 48px;
  color: #00ff55;
}
.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
}

.formulario input {
  padding: 12px 16px;
  font-size: 16px;
  background-color: black;
  color: #00ff88;
  border: none;
  border-radius: 5px;
  width: 240px;
  font-family: 'Courier New', monospace;
}

.formulario input::placeholder {
  color: #00ff88;
  opacity: 0.7;
}

.formulario button {
  padding: 12px 18px;
  font-size: 14px;
  background-color: #00ff88;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Neuropolitical', sans-serif;
}

.glitch-btn {
  animation: glitch 0.3s ease-in-out;
}

@keyframes glitch {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(2px, -2px); }
  60% { transform: translate(-1px, 1px); }
  80% { transform: translate(1px, -1px); }
  100% { transform: translate(0); }
}


